__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/
build/
.mypy_cache/

# Bootstrap artifacts in test_driver
test_driver/tools/framework
test_driver/repo
test_driver/repo.cmd
test_driver/_tools/
